<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean Definitions -->
    <bean id="userRepository" class="net.mahtabalam.UserRepository" />

    <bean id="userService" class="net.mahtabalam.UserService">
        <constructor-arg ref="userRepository" />
    </bean>

</beans>